body>section:nth-child(1){

    width: 1024px;
    height: 550px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

body>section:nth-child(1)>section{
    width: 500%;
    height: 100%;
    position: absolute;
    display: flex;
    animation: sliderAnimation 20s infinite;
    animation-direction: alternate;


}

body>section:nth-child(1)>section>div{
    width: 100%;
    height: 100%;

}

body>section:nth-child(1)>section>div:nth-child(1){

    background-image: url("../Image/1.jpg");
    background-position: center;
    background-size: cover;
}

body>section:nth-child(1)>section>div:nth-child(2){

    background-image: url("../Image/2.jpg");
    background-position: center;
    background-size: cover;
}

body>section:nth-child(1)>section>div:nth-child(3){

    background-image: url("../Image/3.jpg");
    background-position: center;
    background-size: cover;
}

body>section:nth-child(1)>section>div:nth-child(4){

    background-image: url("../Image/4.jpg");
    background-position: center;
    background-size: cover;
}

body>section:nth-child(1)>section>div:nth-child(5){

    background-image: url("../Image/5.jpg");
    background-position: center;
    background-size: cover;
}

@keyframes sliderAnimation {

    0%,15%{
        transform: translateX(0);
    }
    25%,40%{
        transform: translateX(-20%);
    }
    50%,65%{
        transform: translateX(-40%);
    }
    75%,90%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(-80%);
    }

}
