body>div{

    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 5px solid white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;



}

body>div:nth-child(2){
    width: 0;
    height: 0;
    border: 5px solid white;
    animation-name: animation1;
    animation-delay: 0.5s;


}

@keyframes animation {

    from{
        border: 5px solid navy;
        width: 10px;
        height: 10px;
    }

    to{
        border: 5px solid navy;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
    
}


@keyframes animation1 {

    from{
        border: 5px solid navy;
        width: 10px;
        height: 10px;
    }

    to{
        border: 5px solid navy;
        width: 350px;
        height: 350px;
        opacity: 0;
    }

}